@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Nunito&display=swap');

:root {
  --primary-color: #0E4C92;
  --primary-transparent: #7bace5;
  --secondary-color: #4177b4;
  --secondary-transparent: #84addb;
  --background-color: #1f1f1f;
  --main-text-color: #ffffff;
  --alternate-text-color: #000000;
}
html, body {
  font-family: "Kanit", sans-serif;
  background: var(--background-color);
  color: var(--main-text-color);
}

* {
  box-sizing: border-box;
  font-weight: 400;
  margin: 0;
}

.header {
  top: 0;
  width: device-width;
  z-index: 1;
  color: var(--main-text-color);
  background: var(--primary-color);
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  word-wrap: break-word;
}

.content {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
}



button {
  height: 50px;
  width: 200px;
  display: inline-block;
	background: var(--secondary-color);
	border: solid;
	border-radius: 4px;
	padding: 10px;
	cursor: pointer;
	font-family: var(--font-family);
	color: var(--main-text-color);
	font-size: 17px;
  transition: background 0.5s, transform 0.6s, border 0s;
}

button:hover {
  background: var(--secondary-transparent);
}

button:active {
  transform: scale(0.98);
	transition: 0.1s;
  background: var(--primary-transparent);
}



a {
  color: var(--secondary-transparent)
}

details {
	border-radius: 4px;
  transition: background 0.5s, transform 0.5s, border 0s;
  padding: 10px 10px;
}

details[open] {
	padding-bottom: 5px;
}

details > *:not(summary) {
	margin: 20px;
}

details summary {
	cursor: pointer;
	background: #3a5b7a;
	color: #ffffff;
	padding: 10px;
	border-radius: 4px;
	transition: 0.8s;
  pointer-events: auto;
}

details summary:hover {
	background: #172633;
}

details summary:active {
  transform: scale(0.99);
	transition: 0.5s;
}

details[open] summary {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

pre {
  background: var(--primary-color);
  border-radius: 4px;
  word-wrap: break-all;
  overflow: auto;
}

b {
  font-weight: 700;
}

img {
  border-radius: 15px;
  box-shadow: 4px 4px 10px black;
}

video {
  border-radius: 15px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
  border-right: 1px solid #DDD;
}



tr.h {
  background-color: #696969
}

tr:hover {background-color: #424242;}

/* too lzy not fixin samserch */

#ascii85 {
  color: #696969;
  cursor: not-allowed;
  text-decoration: none;
}

input {
  width: 100%;
  background: transparent;
  font-size: 16px;
  outline: none;
  border: 2px solid #aaa;
  padding: 10px;
  border-radius: 7px;
  color: white;
  margin-bottom: 10px;
}

input:focus {
  border-color: #3c6a9a;
}